{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<title>{% block head_title %}DoDomDom{% endblock head_title %}</title>

    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
	<div class='container'>
		{% block content %}
			
		{% endblock content %}
	</div>
	
	

	<script
  		src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js">	
  	</script>

  	<script type="text/javascript">
  		$(document).ready(function(){
  			$(".content-markdown").each(function(){
	  			var content = $(this).text()
	  			var markedContent = marked(content)
	  			$(this).html(markedContent)
  			})
  			$(".post-detail-item img").each(function(){
	  			$(this).addClass("img-responsive");
	  		})

	  		

  			var contentInput = $("#id_content");

  			function setContent(value){
  				var markedContent = marked(value)
  				$("#preview-content").html(markedContent)
  				$("#preview-content img").each(function(){
  				$(this).addClass("img-responsive")
  				})
  			}
  			setContent(contentInput.val())

  			contentInput.keyup(function(){
  				var newContent = $(this).val()
  				setContent(newContent)
  			})

  			var titleInput = $("#id_title");

  			function setTitle(value){
  				$("#preview-title").text(value)
  			}
  			setTitle(titleInput.val())
  			titleInput.keyup(function(){
  				var newContent = $(this).val()
  				setTitle(newContent)
  			})

  		// preview-title
  		// preview-content
  		})



  	</script>
	
</body>
</html>