{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<title>{% block head_title %}DoDomDom{% endblock head_title %}</title>

    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
	<div class='container'>
		{% block content %}
			
		{% endblock content %}
	</div>
	
	

	<script
  		src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js">	
  	</script>

  	<script type="text/javascript">
  		$(document).ready(function(){
  			$(".content-markdown").each(function(){
	  			var content = $(this).text()
	  			console.log(content)
	  			var markedContent = marked(content)
	  			console.log(markedContent)
	  			$(this).html(markedContent)
  			})
  			$(".content-markdown img").each(function(){
	  			$(this).addClass("img-responsive");
	  		})
  		})

  	</script>
	
</body>
</html>