{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block extra_head %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////
	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co
	//////////////////////////////////////////////////////
	 -->

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/main/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/main/css/icomoon.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/main/css/magnific-popup.css">
	<!-- Salvattore -->
	<link rel="stylesheet" href="/static/main/css/salvattore.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="/static/main/css/style.css">
	<!-- Modernizr JS -->
	<script src="/static/main/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

{% endblock extra_head %}

{% block content %}
		
	<div id="fh5co-offcanvass">
		<a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
		{% if user.is_authenticated %}
		<h1 class="fh5co-lead">Welcome {{ request.user.username }}</h1>
		{% else %}
		<h1 class="fh5co-lead">guest</h1>
		{% endif %}
		<ul>
			{% if user.is_authenticated %}
			<li><a href="/logout/">로그아웃</a></li>
			<li><a href="/mylog/">내가 쓴 글</a></li>
			{% else %}
			<li><a href="/login/">로그인</a></li>
			<li><a href="/register/">회원가입</a></li>
			{% endif %}
			<li><a href="/">메인화면</a></li>
			<br/>
			<li><a href="/chat">잡담</a></li>
			<li><a href="/computer">컴퓨터</a></li>
			<li><a href="/movie">영화</a></li>
			<li><a href="/game">게임</a></li>
			<li><a href="/drama">드라마</a></li>
			<br/>
			<li><a href="/suggest">문의</a></li>
			<br/>
			<li>검색</li>
			<li>
				<form method='GET' action=''>
			    <input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
			</li>
		</ul>
		<h3 class="fh5co-lead">Connect with us</h3>
		<p class="fh5co-social-icons">
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-instagram"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-youtube"></i></a>
		</p>
	</div>
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
					<a class="navbar-brand" href="/">도돔돔</a>
					
					</form>	
				</div>
			</div>
		</div>
	</header>
	<!-- END .header -->
	
	
	<div id="fh5co-main">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>{{ instance.title }} <small>{{ instance.user }}</small></h2><hr/>
					{% if instance.image %}
					<img src='{{ instance.image.url }}' class='img-responsive'/>
					{% endif %}
					<div class="fh5co-spacer fh5co-spacer-sm"></div>
					<p>게시:{{ instance.timestamp|timesince }} | 변경: {{ instance.updated|timesince }}</p>
					<h3 class ="post-detail-item">{{ instance.get_markdown }}</h3>
					<br/><br/>
					<div>
						<hr/>
						{% if request.user.is_authenticated %}
						<form method="POST" action=".">{% csrf_token %}
						{{ comment_form|crispy }}
							<input type='submit' value="Post comment" class="btn btn-default">
						</form>
						{% else %}
						<p>로그인해야만 댓글을 입력할 수 있습니다.</p>
						{% endif %}
						{% for comment in comments %}
						<blockquote>
							<p>{{ comment.content }}</p>
							<footer>작성자: {{ comment.user }} | {{ comment.timestamp|timesince }} 전 | {% if comment.children.count > 0%}댓글 {{ comment.children.count }}{% if comment.children.count >= 1 %} | {% endif %}{% endif %}<a href='#' class = "comment-reply-btn">Reply</a> | <a href='{{ comment.get_absolute_url }}' class = "">Detail</a> | {% if request.user == comment.user %}<a href="{{ comment.get_delete_url }}">Delete</a>{% endif %}</footer>
						<div class='comment-reply' style="display:none;">
							{% for child_comment in comment.children %}
								<blockquote>
									<p>{{ child_comment.content }}</p>
									<footer>작성자: {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} 전</footer>
								</blockquote>
							{% endfor %}

							{% if request.user.is_authenticated %}
							<form method="POST" action=".">{% csrf_token %}
								{{ comment_form|crispy }}
								<input type='hidden' name="parent_id" value="{{ comment.id }}">
								<input type='submit' value="댓글" class="btn btn-default">
							</form>
							{% else %}
							<p>로그인해야만 댓글을 입력할 수 있습니다.</p>
							{% endif %}
						</div>


						</blockquote>
						<hr/>
						{% endfor %}
					</div>
				</div>
        	</div>
       </div>
	</div>

	<footer id="fh5co-footer">
		
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					{% if request.user.is_staff or request.user.is_superuser %}
					<p class="fh5co-social-icons">
						<a href="edit"><i class="icon-instagram">수정하기</i></a>
						<a href="delete"><i class="icon-dribbble">삭제</i></a>
					</p>
					{% elif request.user == instance.user %}
					<p class="fh5co-social-icons">
						<a href="edit"><i class="icon-instagram">수정하기</i></a>
						<a href="delete"><i class="icon-dribbble">삭제</i></a>
					</p>
					{% endif %}
					<p><small>&copy; Hydrogen Free HTML5 Template. All Rights Reserved. <br>Designed by: <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> | Images by: <a href="http://pexels.com" target="_blank">Pexels</a> </small></p>
					
				</div>

			</div>
		</div>
	</footer>
	


	<!-- jQuery -->
	<script src="/static/main/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/main/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/main/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/main/js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/main/js/jquery.magnific-popup.min.js"></script>
	<!-- Salvattore -->
	<script src="/static/main/js/salvattore.min.js"></script>
	<!-- Main JS -->
	<script src="/static/main/js/main.js"></script>
	<script src="/static/main/js/script.js"></script>
	<script>
		$(".comment-reply-btn").click(function(event){
            event.preventDefault();
            $(this).parent().next(".comment-reply").fadeToggle();
        })
	</script>
	
{% endblock content %}